/url/cache
/.emacs.desktop
/auto-save-list
/.session
/.session.*
/custom.el
*~
.el
*.elc
.*.lock
cookies
.org-id-locations
*_archive
/elpa
/elpa-*
/history
/recentf
/transient
/projects
/projectile-bookmarks.eld
.cache/